@charset "UTF-8";

/* https://nomail.com.ua */

/* https://ffont.ru/font/gilroy */

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: var(--font-main, 'Outfit', sans-serif);
  margin: 0px;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}
[class*='__container'] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* PC  */

/* TABLET  */

/* MOBILE */

/* MOBILE SMALL */

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 60;
  background: var(--grayscale-01, #181818);
}

.top-menu {
  background: var(--secondary-02, #ffaa4c);
  min-height: 2.375rem;
}

.top-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--secondary-02, #ffaa4c);
  font-size: 16px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
}

.top-menu__button._active {
  border-radius: 20px 20px 0px 0px;
  background: var(--grayscale-01, #181818);
  background: var(--primary-color, #000);
  color: white;
}

.contact-header {
  min-height: 71px !important;
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background: var(--primary-01, #954ced);
  color: white;
  font-size: 1.25rem;
  font-family: 'Outfit';
  font-weight: 600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 1px solid var(--primary-01, #954ced);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12rem;
  padding: 0px 1rem;
}

.main-header__body {
  margin-bottom: 3.375rem;
}

.main-header__title {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-size: 96px;
}

.main-header__text {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2.5rem;
}

.main-header__image {
  position: relative;
  padding-bottom: 36.7%;
  overflow: hidden;
  width: 48%;
}

.main-header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/*burger ///////////////////////// */

.menu {
  display: none;
}

.menu__button {
  width: 100%;
  margin: 8.5rem 0px;
}

.menu._active {
  left: 0;
}

.menu._active::before {
  left: 0;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px 3px;
  padding: 5px 0px;
  position: relative;
}

.menu__link {
  /* Body / Normal - Medium */
  font-family: 'Outfit';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #ffffff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.about {
  color: white;
  padding-top: 3.25rem;
}

.about__title {
  color: var(--grayscale-07, #fff);
  font-size: 96px;
  font-family: 'Outfit';
  font-weight: 700;
  line-height: 106%;
  margin-bottom: 5rem;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.about__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.main {
  background: var(--grayscale-01, #181818);
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.625rem;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.item-about__img {
  display: none;
  position: relative;
  padding-bottom: 150%;
}

.item-about__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item-about {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

.item-about__label {
  margin-bottom: 9.75rem;
}

.item-about__title {
  font-size: 48px;
  font-family: 'Outfit';
  font-weight: 700;
  line-height: 106%;
}

.item-about__label {
  color: var(--grayscale-07, #fff);
  font-size: 36px;
  font-family: 'Outfit';
  font-weight: 600;
  position: relative;
  z-index: 5;
}

.item-about__label p::after {
  content: '';
  position: absolute;
  right: 19.8125rem;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -25;
  background: url('../img/about/frame.svg') bottom right no-repeat;
}

.item-about__text {
  color: var(--grayscale-07, #fff);
  font-size: 24px;
  font-family: 'Outfit';
  font-weight: 400;
  line-height: 120%;
}

.item-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  row-gap: 5.75rem;
  -webkit-column-gap: 4.375rem;
  -moz-column-gap: 4.375rem;
  column-gap: 4.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.work {
  padding-bottom: 100px;
}

.work_img1 {
  background: url('../img/work/01.png') center center repeat;
  top: 20%;
  height: 90px;
}

.work_img2 {
  top: 50%;
  height: 90px;
  background: url('../img/work/02.png') center center repeat;
}

.work_img3 {
  height: 6.5rem;
  background: url('../img/work/03.png') center center repeat;
}

.work {
  position: relative;
  z-index: 20;
  width: 100%;
  padding-top: 100px;
}

.work__images {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 6.25rem;
}

.work__image img {
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 1;
}

.work__body {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work__body img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.info {
  background: var(--primary-01, #954ced);
  padding: 2.5rem 0px;
}

.info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 6.25rem;
  -moz-column-gap: 6.25rem;
  column-gap: 6.25rem;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.175rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}

.item-info__title {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-size: 64px;
  font-weight: 700;
  line-height: 106%;
}

.item-info__text {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.why {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.25rem;
}

.why__title {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-size: 64px;
  font-weight: 700;
  line-height: 106%;
}

.why__text {
  color: var(--grayscale-07, #fff);
  text-align: center;
  font-family: 'Outfit';
  font-size: 36px;
  font-weight: 600;
  position: relative;
  z-index: 22;
}

.why__text::after {
  content: '';
  position: absolute;
  left: -11rem;
  bottom: -0.4375rem;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: url('../img/about/frame.svg') bottom right no-repeat;
}

.why__items {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 3.125rem;
  row-gap: 1.25rem;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.why__item {
  width: 100%;
  height: 100%;
}

.why__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grow {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background: var(--grayscale-06, #f5f5f5);
}

.grow__title {
  color: var(--primary-color, #000);
  text-align: center;
  font-size: 64px;
  font-family: 'Outfit';
  font-weight: 700;
  line-height: 106%;
  margin-bottom: 2.5rem;
}

.grow__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3.75rem 0px;
  border-radius: 60px;
  border: 1px solid var(--grayscale-04, #cfcfcf);
}

.brand {
  background: var(--grayscale-06, #f5f5f5);
}

.brand__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.25rem;
}

.brand__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}

.brand__images {
  -ms-flex-item-align: center;
  align-self: center;
}

.brand__images img {
  width: 100%;
  height: 100%;
}

.brand__title {
  color: var(--primary-color, #000);
  font-family: 'Outfit';
  font-size: 96px;
  font-weight: 700;
  line-height: 106%;
}

.brand__text {
  color: var(--primary-color, #000);
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.brand__imgs {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brand__img {
  padding: 1.25rem 0px;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  background: var(--grayscale-01, #181818);
}

.footer__body {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2.875rem;
  position: relative;
}

.footer__body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #444;
  width: 100%;
  height: 0.125rem;
}

.footer__copy {
  color: var(--grayscale-03, #b9b9b9);
  font-family: 'Outfit';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 140%;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.footer__item {
  background: var(--grayscale-01, #181818);
  color: var(--grayscale-03, #b9b9b9);
  font-family: 'Outfit';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 140%;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 5.5rem;
  -webkit-column-gap: 2.25rem;
  -moz-column-gap: 2.25rem;
  column-gap: 2.25rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 3.5625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.top-footer .footer__items {
  display: none;
}

.top-footer__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
}

.top-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.top-footer__label {
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}

/*///////////////////////////////  form*/

.animate {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay {
  width: 100%;
  height: 100%;
  overflow: auto;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
  -o-transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
}

.overlay .overlay-background {
  background-color: rgba(44, 62, 80, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.signup-form.error .__req {
  border: 1px solid red;
}

.overlay-content {
  width: 100%;
  max-width: 530px;
  margin: 100px auto 0;
  padding: 2.5rem;
  color: #000;
  position: relative;
  z-index: 90;
  border-radius: 20px;
  background: var(--grayscale-07, #fff);
}

.overlay-content label {
  color: #070707;
  font-family: 'Outfit';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 0.625rem;
}

.overlay-content label span {
  color: var(--grayscale-08, #ff6c2d);
}

.overlay-content .button {
  width: 56%;
  border-radius: 16px;
  border: none;
  background: var(--grayscale-03, #b9b9b9);
}

.overlay-content .overlay-close {
  position: absolute;
  top: 0.8125rem;
  right: 0.8125rem;
  font-size: 32px;
  /* opacity: 0.5; */
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
}

.overlay-content .signup-privacy {
  margin-bottom: 1.25rem;
}

.overlay-content .signup-privacy a {
  color: #a64ced;
  text-decoration: underline;
}

.signup-form input {
  width: 100%;
  height: 3.75rem;
  margin-bottom: 20px;
  padding: 0 8px;
  border-radius: 14px;
  border: 1px solid var(--grayscale-20, #f1f1f1);
  background: var(--grayscale-07, #fff);
  border-radius: 1.25rem;
  color: var(--grayscale-30, #a7a7a7);
  padding-left: 1.375rem;
  font-family: 'Outfit';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}

.modal__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal__title {
  color: var(--primary-02, #a64ced);
  text-align: center;
  font-family: 'Outfit';
  font-size: 36px;
  font-weight: 600;
}

.modal__text {
  color: var(--grayscale-02, #444);
  text-align: center;
  font-family: 'Outfit';
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.modal__button {
  border-radius: 16px;
  background: var(--primary-01, #954ced);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: var(--grayscale-07, #fff);
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 600;
}

.cookie {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin: 30px 0px;
}

.cookie__body {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 16px;
  background: var(--grayscale-07, #fff);
  -webkit-box-shadow: -10px -5px 30px 0px rgba(141, 141, 141, 0.1);
  box-shadow: -10px -5px 30px 0px rgba(141, 141, 141, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 8.75rem;
  padding: 1.875rem;
}

.cookie__title {
  color: var(--grayscale-dark-grey, #383838);
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  font-family: 'Outfit';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.cookie__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.cookie__button {
  border-radius: 16px;
  background: var(--primary-01, #954ced);
  color: white;
  padding: 1rem 1.875rem;
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #954ced;
}

.cookie__button:nth-child(2) {
  color: var(--grayscale-00, #000);
  background: white;
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 600;
}

/* ////////////////////////////////////// */

.webp .work_img1 {
  background: url(../img/work/01.webp) center center repeat;
}

.webp .work_img2 {
  background: url(../img/work/02.webp) center center repeat;
}

.webp .work_img3 {
  background: url(../img/work/03.webp) center center repeat;
}

@media (min-width: 767.98px) {
  .header__burger {
    display: none;
  }

  .menu__item._hover:hover .menu__list_sub {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item._hover:hover .menu__link {
    color: #e89f71;
  }

  .menu__item._hover:hover .menu__arrow {
    color: #e89f71;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .item-about__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 2.25rem;
    -moz-column-gap: 2.25rem;
    column-gap: 2.25rem;
  }
}

@media (min-width: 1282px) {
  .main-header {
    padding-left: 6.875rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .item-about__img {
    display: block;
  }

  .why__body {
    max-width: 46rem;
    margin: 0 auto;
  }

  .why__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .brand__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .brand__body {
    row-gap: 0;
  }

  .top-footer {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 1282px) {
  [class*='__container'] {
    max-width: 970px;
  }

  .main-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 3.75rem;
  }
}

@media (max-width: 1270px) {
  .main-header__title {
    font-size: calc(40px + 56 * ((100vw - 320px) / 950));
  }

  .main-header__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }

  .about__title {
    font-size: calc(25px + 71 * ((100vw - 320px) / 950));
  }

  .item-about__title {
    font-size: calc(20px + 28 * ((100vw - 320px) / 950));
  }

  .item-about__label {
    font-size: calc(24px + 12 * ((100vw - 320px) / 950));
  }

  .item-about__text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 950));
  }

  .work {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 950));
  }

  .work {
    padding-top: calc(60px + 40 * ((100vw - 320px) / 950));
  }

  .item-info__title {
    font-size: calc(24px + 40 * ((100vw - 320px) / 950));
  }

  .item-info__text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 950));
  }

  .why__title {
    font-size: calc(24px + 40 * ((100vw - 320px) / 950));
  }

  .why__text {
    font-size: calc(20px + 16 * ((100vw - 320px) / 950));
  }

  .grow__title {
    font-size: calc(24px + 40 * ((100vw - 320px) / 950));
  }

  .brand__title {
    font-size: calc(26px + 70 * ((100vw - 320px) / 950));
  }

  .brand__text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 950));
  }

  .brand__imgs {
    margin-top: calc(70px + 30 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 991.98px) {
  [class*='__container'] {
    max-width: 750px;
  }

  .grow__button {
    width: 90%;
  }

  .footer__items {
    display: none;
  }

  .top-footer .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .top-footer .footer__items .footer__item {
    text-align: left;
    color: var(--grayscale-07, #fff);
    font-family: 'Outfit';
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
  }

  .top-footer__labels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .top-footer__items {
    row-gap: 1.25rem;
  }

  .cookie__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.875rem;
  }

  .cookie__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.875rem;
  }
}

@media (max-width: 767.98px) {
  [class*='__container'] {
    max-width: none;
  }

  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 15px;
  }

  .contact-header__button {
    display: none;
  }

  .main-header__image {
    padding-bottom: 91.7%;
    width: 100%;
  }

  .header__burger._active:after {
    bottom: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger._active:before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header__burger {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 20px;
    z-index: 90;
    margin-left: 32px;
  }

  .header__burger:after,
  .header__burger:before {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background: #fff;
    left: 0;
    height: 2px;
    width: 100%;
    top: 9px;
  }

  .menu {
    display: block;
  }

  .menu {
    background: #181818;
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 5;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }

  .menu__item {
    margin: 0px 0px 15px 0px;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 23px;
    font-weight: 600;
  }

  .item-about__label {
    margin-bottom: 0.625rem;
  }

  .item-about__label p::after {
    left: 0;
    bottom: 0;
    height: 70%;
    width: 90%;
    background: url('../img/about/frame.svg') bottom right/cover no-repeat;
  }

  .item-about__items {
    -webkit-column-gap: 6.375rem;
    -moz-column-gap: 6.375rem;
    column-gap: 6.375rem;
  }

  .info__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .info__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .why__text::after {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -1.25rem;
  }

  .overlay-content {
    max-width: 320px;
    padding: 1rem;
  }
}

@media (max-width: 767.98px) and (max-width: 1270px) {
  .header__burger {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 479.98px) {
  [class*='__container'] {
    max-width: none;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #f2f2f2;
    color: #954ced;
    border: 1px solid #954ced;
  }

  .menu__item:hover .menu__list_sub {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item:hover .menu__link {
    color: #e89f71;
  }

  .menu__item:hover .menu__arrow {
    color: #e89f71;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
._error {
  border: 1px solid red !important;
}
