:root {
  --primary-color: #000;
  --grayscale-01: #181818;
  --secondary-02: #ffaa4c;
  --primary-01: #954ced;
  --primary-02: #a64ced;
  --grayscale-07: #fff;
  --grayscale-06: #f5f5f5;
  --grayscale-04: #cfcfcf;
  --grayscale-03: #b9b9b9;
  --grayscale-08: #ff6c2d;
  --grayscale-20: #f1f1f1;
  --grayscale-30: #a7a7a7;
  --grayscale-02: #444;
  --font-main: 'Outfit', sans-serif;
}
